@model SetLists.Models.SetList

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SetList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayFor(model => model.SongSetLists)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Song Title</th>
                </tr>
                @foreach (var item in Model.SongSetLists)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Song.Title)
                        </td>
                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SetListID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
